* {
  -webkit-transition: 0.7s ease-out;
  -moz-transition: 0.7s ease-out;
  -o-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  list-style: none;
}

body {
  line-height: 1.8em;
  padding-top: 5%;
}

.bigicon {
  font-size: 3em;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 18px;
  line-height: 1.4em;
}

p {
  letter-spacing: 1px;
  color: #9c9c9c;
  font-weight: lighter;
}

ul {
  padding: 0;
}
a {
  color: #ea9312;
}
a:hover {
  color: #c3c3c3;
  text-decoration: none;
}

.truncate {
  display: block;
  white-space: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-md-4,
.col-md-6 {
  padding-bottom: 30px;
}

.col-md-3 {
  padding: 0;
}

.btnicon,
.brandicon {
  margin-right: 10px;
}

.dropdown {
  cursor: pointer;
}

.center {
  padding-top: 15px;
  text-align: center;
}

.container-title {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: left;
}

.panel-match {
  background-color: #337ab7;
  border-color: #337ab7;
}

.card-match {
  text-align: center;
  cursor: pointer;
}

.title-match {
  padding-bottom: 20px;
}

.title-match p {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.name-match {
  font-size: large;
  font-weight: bold;
  margin: 0px;
  color: #ffffff;
}

.time-match {
  font-style: italic;
  margin: 10px 0 0 0;
  color: #c7ddef;
}

@media screen and (max-width: 860px) {
  body {
    padding-top: 20%;
  }

  .col-md-6 {
    display: block;
    width: 100%;
  }
}
